/* border color: #bdc3c7
date color: #3498db
h2 color: #2c3e50
font: source sans pro */

* {
    margin: 0;
    padding: 0;
}
/* 
body{
    background-image: url("bg.jpg");
}  */

main{
    border: 20px solid #bdc3c7;
    font-family: Source Sans Pro;
    margin-left: 400px;
    margin-right: 400px;
    padding-left: 75px;
    padding-right: 75px;
    background-color: #fefefe;
}

h1{
    color: #2c3e50;
    padding-bottom: 50px;
}

h3 {
    /* date color */
    color: #3498db;
    text-transform: uppercase;
    padding-bottom: 50px;
    padding-top: 50px;
    margin-top: 25px;
}

p{
    text-align: justify;
    font-weight: bold;
    font-size: 18px;
}

.sideborder{
    border-left: 5px solid #bdc3c7;
    padding-left: 2.5px;
}

div{
    border-bottom: 1.5px solid #e2e5e7;
    padding-bottom: 10px;
}

.menu {
    float: left;
    padding: 10px;
}

a{
    padding-right: 50px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bolder;
}

a:visited{
    color: black;
}

a:hover{
    color: #000083;
}

input{
    display: block;
    margin-bottom: 10px;
    border: 1.5px solid #bdc3c7;
    padding: 10px;
}

textarea{
    border: 1.5px solid #bdc3c7;
}

#form-div{
    margin-top: 50px;
}

button{
    border: 2px solid #bdc3c7;
    background-color: #bdc3c7;
    border-radius: 10%;
    font-size: 25px;
    display: block;
    font-weight: 100;
}

button:hover {
    border: 2px solid #e2e5e7;
    background-color: #e2e5e7;
    border-radius: 10%;
    font-size: 25px;
}