html {
    scroll-behavior: smooth;
  }

.main-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    /* text-shadow: 0px 4px 3px rgba(0, 0, 0 ,0.1),
                0px 8px 13px rgba(0, 0, 0 ,0.1),
                0px 18px 23px rgba(0, 0, 0 ,0.1); */
}

.main-text{
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    /* text-shadow: 0px 4px 3px rgba(68, 68, 68,0.1),
                0px 8px 13px rgba(68, 68, 68,0.1),
                0px 18px 23px rgba(68, 68, 68,0.1); */
}

.highlight{
    color: rgba(237, 136, 14, 0.9);
    font-weight: 800;
}

/* Nav */
/* Aqui no caso tem duas opções, se tu deixar o sticky-top, vai passar do ATF o teu hero */
/* O fixed tira o elemento do fluxo padrão e deixa ele vinculado ao html */
#main-nav {
    font-family: 'Montserrat', sans-serif;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    font-weight: 400;
    z-index: 1;
    letter-spacing: 0.1rem;  
}

#exps {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}
/* Hero */
#hero {
    background: url("../bg_main_darkfiltered.png") no-repeat;
    background-size: cover;
    min-height: 100vh;
}

#about-me {
    background-color: #212529;
    color: white;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.about-me-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    letter-spacing: 0.5rem;
}

#contact-me {
    background-size: cover;
    min-height: 80vh;
}

#contact-me p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    letter-spacing: 0.1rem;
}

/* Responsive layout: */

@media (max-width: 1366px){
    #hero {
        padding: 0.2rem;
    }
    #hero h1 {
        font-weight: 100;
        font-size: 1.5rem;
    }
    #hero p {
        font-weight: 100;
        font-size: 1rem;
    }

    #about-me {
        padding: 0.2rem;
    }

    #about-me h1 {
        font-weight: 100;
        font-size: 1.5rem;
    }

    #about-me p {
        font-weight: 100;
        font-size: 1rem;
    }
}